@using TheOmenDen.CrowsAgainstHumility.Core.Engine.Enumerations
<ModalHeader Background="Background.Dark" TextColor="TextColor.Light">
    <ModalTitle>
        Join A Lobby
    </ModalTitle>
    <CloseButton Class="btn-close-white" Shadow="Shadow.Small" />
</ModalHeader>
<ModalBody Background="Background.Dark">
    <LoadingIndicator @ref="@_loadingIndicator" FadeIn>
        <ChildContent>
            <Row>
                <Column ColumnSize="ColumnSize.IsFull">
                    <Paragraph>
                        You can join a lobby by filling out the form below (your user information is auto-filled when you're logged in.)
                    </Paragraph>
                </Column>
            </Row>
            <Row>
                <Fields ColumnSize="ColumnSize.IsHalf">
                    <Field Horizontal>
                        <FieldLabel>
                            Lobby Code
                        </FieldLabel>
                        <Addons>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="_suppliedLobbyCode" />
                            </Addon>
                            <Addon AddonType="AddonType.End">
                                <AddonLabel>
                                    <Icon Name="IconName.Lock" />
                                </AddonLabel>
                            </Addon>
                        </Addons>
                    </Field>
                    <Field Horizontal>
                        <FieldLabel>
                            You
                        </FieldLabel>
                        <FieldBody>
                            <Addons>
                                <Addon AddonType="AddonType.Start">
                                    <AddonLabel>
                                        <Icon Name="IconName.UserTie" />
                                    </AddonLabel>
                                </Addon>
                                <Addon AddonType="AddonType.Body">
                                    <TextEdit @bind-Text="@_username" Disabled ReadOnly />
                                </Addon>
                            </Addons>
                        </FieldBody>
                    </Field>
                    <Field>
                        <FieldLabel>Role to Join As</FieldLabel>
                        <FieldBody>
                            <Select TValue="int" @bind-Value="_selectJoiningRole">
                                <Repeater TItem="GameRoles"
                                          Items="GameRoles.ReadOnlyEnumerationList.OrderBy(gr => gr.Value)">
                                    <SelectItem TValue="int"
                                                Value="@context.Value">
                                        @context.Name
                                    </SelectItem>
                                </Repeater>
                            </Select>
                        </FieldBody>
                    </Field>
                </Fields>
            </Row>
        </ChildContent>
        <IndicatorTemplate>
            <Animate Animation="Animations.FadeDownRight" Auto Duration="TimeSpan.FromMilliseconds( 700 )">
                <Div>
                    <SpinKit Type="SpinKitType.Wave" Size="100px" />
                </Div>
            </Animate>
        </IndicatorTemplate>
    </LoadingIndicator>
</ModalBody>
<ModalFooter Background="Background.Dark">
    <Buttons Role="ButtonsRole.Toolbar">
        <Button Color="Color.Primary" Clicked="@JoinLobbyAsync" Loading="@_loadingIndicator.Visible">
            <LoadingTemplate>
                Attempting to Join...
            </LoadingTemplate>
            <ChildContent>
                Join Lobby <Icon Name="IconName.ArrowRight" />
            </ChildContent>
        </Button>
        <Button Color="Color.Secondary">
            Cancel
        </Button>
    </Buttons>
</ModalFooter>