@inject TokenProvider TokenProvider
<Fluxor.Blazor.Web.StoreInitializer />
<CascadingAuthenticationState>
    <ThemeProvider Theme="@_theme">
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(ErrorLayout)">
                    <Row>
                        <Column ColumnSize="ColumnSize.IsFull"
                                TextAlignment="TextAlignment.Center"
                                Flex="Flex.AlignItems.Center.JustifyContent.Center">
                            <Card Background="Background.Dark"
                                  TextAlignment="TextAlignment.Center"
                                  TextColor="TextColor.Light"
                                  Border="Border.Is3.Secondary.OnAll.Rounded"
                                  Shadow="Shadow.Large">
                                <CardBody>
                                    <Image Source="images/TheOmenDenWithCrow.svg"
                                           Text="404 Not found"
                                           Fluid
                                           Width="Width.Is75"/>
                                    <CardText>
                                        <Heading Size="HeadingSize.Is1"
                                                 Margin="Margin.Is5.FromTop"
                                                 TextWeight="TextWeight.Bold">
                                            Page not found!
                                        </Heading>
                                        <Paragraph Class="lead"
                                                   Margin="Margin.Is4.OnY">
                                            Looks like you ended up in an empty nest. If you think this is a mistake, please let us know.
                                        </Paragraph>
                                    </CardText>
                                    <Button Type="ButtonType.Link"
                                            To=""
                                            Color="Color.Secondary"
                                            Flex="Flex.InlineFlex.AlignItems.Center.JustifyContent.Center"
                                            Margin="Margin.Is4.FromBottom"
                                            Border="Border.Is2.Light.OnAll.Rounded"
                                            Shadow="Shadow.Default">
                                        <Icon Name="IconName.ArrowLeft" Margin="Margin.Is2.FromEnd"/>
                                        Back To Homepage
                                    </Button>
                                </CardBody>
                            </Card>
                        </Column>
                    </Row>
                </LayoutView>
            </NotFound>
        </Router>
        <ModalProvider UseModalStructure Animated Size="ModalSize.Default" />
        <ApplicationLoadingIndicator />
        <PageProgressProvider />
        <NotificationProvider />
        <MessageProvider />
    </ThemeProvider>
</CascadingAuthenticationState>

@code {

    private Theme _theme = new Theme()
        {
            IsGradient = true,
            LuminanceThreshold = 170,
            ColorOptions = new ThemeColorOptions
            {
                Primary = "#619806",
                Secondary = "#3d0698",
                Dark = "#2c2e3a",
                Light = "#c4cee2",
                Link = "#cfe2f3",
                Warning = "e2c709"
            },
            BackgroundOptions = new ThemeBackgroundOptions
            {
                Primary = "#619806",
                Secondary = "#3d0698",
                Dark = "#2c2e3a",
                Light = "#c4cee2",
                Warning = "#e7d23a"
            },
            TextColorOptions = new ThemeTextColorOptions
            {
                Primary = "#619806",
                Secondary = "#e3e3e3",
                Dark = "#2c2e3a",
                Light = "#f6f6f6",
                Warning = "#e2c709"
            },
            PaginationOptions = new ThemePaginationOptions
            {

            },
            BarOptions = new ThemeBarOptions
            {
                HorizontalHeight = "76px",
                VerticalBrandHeight = "76px",
                DarkColors = new ThemeBarColorOptions
                {
                    BackgroundColor = "#5d4d77",
                    Color = "#ffffff",
                    BrandColorOptions = new ThemeBarBrandColorOptions
                    {
                        BackgroundColor = "#619806",
                    }
                },
                LightColors = new ThemeBarColorOptions
                {
                    BackgroundColor = "#f1eaea",
                    Color = "#717171",
                    BrandColorOptions = new ThemeBarBrandColorOptions
                    {
                        BackgroundColor = "#b5b5b5"
                    }
                }
            }
        };

    [Parameter] public ApplicationUserState? InitialState { get; set; }

    protected override Task OnInitializedAsync()
    {
        TokenProvider.XSRFToken = InitialState?.Xsrf ?? String.Empty;
        TokenProvider.AccessToken = InitialState?.AccessToken ?? String.Empty;
        TokenProvider.RefreshToken = InitialState?.RefreshToken ?? String.Empty;
        TokenProvider.Username = InitialState?.Username ?? String.Empty;
        TokenProvider.IsAuthenticated = InitialState?.IsAuthenticated ?? false;
        return base.OnInitializedAsync();
    }
}