@page "/game-list"
<SEO Title="Games List" Description="This is a list where you can find current games, open lobbies, and create your own game" />
@*<Container Fluid>
    <Card Background="Background.Dark" WhiteText>
        <CardBody>
            <CardTitle Size="3">
                Join a Lobby
            </CardTitle>
            <CardText>
                
            </CardText>
            <Button Color="Color.Primary" Margin="Margin.Is2.FromTop">
                Read more <Icon Name="IconName.ArrowRight" />
            </Button>
        </CardBody>
    </Card>
    <Div Position="Position.Fixed" Background="Background.Danger">
        <ListGroup>
            <ListGroupItem Clicked="@(()=>OnContextItemEditClicked(contextCrowGame))">
                <Icon Name="IconName.PlusCircle" TextColor="TextColor.Secondary" /> Join
            </ListGroupItem>
        </ListGroup>
    </Div>
    <DataGrid TItem="CrowGameServerViewModel"
              RowSelectable="row => row.Item.CurrentSession.CanPlayCards"
              @bind-SelectedRow="@_selectedGame"
              RowStyling="@OnRowStyling"
              SelectedRowStyling="@OnSelectedRowStyling"
              RowContextMenu="@OnRowContextMenu"
              RowContextMenuPreventDefault="true"
              ShowPager
              CommandMode="DataGridCommandMode.ButtonRow"
              Responsive>
        <EmptyTemplate>
            <Span>
                No games were found!
            </Span>
        </EmptyTemplate>
        <LoadingTemplate>
            <Progress @ref="_progressRef" Color="Color.Primary" Max="100" Value="_progress" />
        </LoadingTemplate>
    </DataGrid>
    
</Container>*@