@page "/contactUs"
@using TheOmenDen.CrowsAgainstHumility.Core.Enumerations
<SEO Canonical="/contactUs"
     Title="Contact The Omen Den Support"
     Description="Contact The Omen Den's support staff if there's something you need addressed by using the form on this page!" />
<Container Background="Background.Dark"
           Shadow="Shadow.Large"
           Border="Border.Is1.Light.OnAll.Rounded"
           Padding="Padding.Is4.OnY.Is2.OnX"
           Margin="Margin.Is3.OnX"
           TextAlignment="TextAlignment.Center"
           Flex="Flex.Column.JustifyContent.Center.AlignItems.Center">
    <Validations @ref="_validations" Mode="ValidationMode.Manual"
                 Model="_formInput"
                 HandlerType="typeof(FluentValidationHandler)">
        <Row Margin="Margin.Is2.FromTop.Is1.FromBottom"
             Width="Width.Is100">
            <Column ColumnSize="ColumnSize.Is10.OnFullHD.IsFull">
                <Fields Flex="Flex.Row.OnTablet.Column.OnMobile">
                    <Validation>
                        <Field Horizontal>
                            <FieldLabel TextColor="TextColor.Light">
                                First Name
                            </FieldLabel>
                            <FieldBody>
                                <Addons>
                                    <Addon AddonType="AddonType.Start">
                                        <AddonLabel>
                                            <Icon Name="IconName.User" />
                                        </AddonLabel>
                                    </Addon>
                                    <Addon AddonType="AddonType.Body">
                                        <TextEdit @bind-Text="@_formInput.FirstName">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Addon>
                                </Addons>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field Horizontal>
                            <FieldLabel TextColor="TextColor.Light">
                                Last Name
                            </FieldLabel>
                            <FieldBody>
                                <Addons>
                                    <Addon AddonType="AddonType.Start">
                                        <AddonLabel>
                                            <Icon Name="IconName.User" />
                                        </AddonLabel>
                                    </Addon>
                                    <Addon AddonType="AddonType.Body">
                                        <TextEdit @bind-Text="@_formInput.LastName">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Addon>
                                </Addons>
                            </FieldBody>
                        </Field>
                    </Validation>
                </Fields>
            </Column>
        </Row>
        <Row Margin="Margin.Is2.OnY"
             Width="Width.Is100">
            <Column ColumnSize="ColumnSize.Is10.OnFullHD.IsFull">
                <Fields>
                    <Validation>
                        <Field Horizontal>
                            <FieldLabel TextColor="TextColor.Light">
                                Email
                            </FieldLabel>
                            <FieldBody>
                                <Addons>
                                    <Addon AddonType="AddonType.Start">
                                        <AddonLabel>
                                            <Icon Name="IconName.Mail" />
                                        </AddonLabel>
                                    </Addon>
                                    <Addon AddonType="AddonType.Body">
                                        <TextEdit Role="TextRole.Email" @bind-Text="@_formInput.Email">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Addon>
                                </Addons>
                            </FieldBody>
                        </Field>
                    </Validation>
                </Fields>
            </Column>
        </Row>
        <Row Margin="Margin.Is2.OnY"
             Width="Width.Is100">
            <Column ColumnSize="ColumnSize.Is10.OnFullHD.IsFull">
                <Fields Flex="Flex.Column.OnMobile">
                    <Validation>
                        <Field>
                            <FieldLabel TextColor="TextColor.Light">
                                Subject
                            </FieldLabel>
                            <FieldBody>
                                <Addons>
                                    <Addon AddonType="AddonType.Start">
                                        <AddonLabel>
                                            <Icon Name="IconName.InfoCircle" />
                                        </AddonLabel>
                                    </Addon>
                                    <Addon AddonType="AddonType.Body">
                                        <Select @bind-SelectedValue="@_chosenSubject">
                                            <Repeater TItem="ContactUsSubjects"
                                                      Items="ContactUsSubjects.ReadOnlyEnumerationList">
                                                <SelectItem Value="@context.Value">
                                                    @context.Name
                                                </SelectItem>
                                            </Repeater>
                                        </Select>
                                    </Addon>
                                </Addons>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel TextColor="TextColor.Light">
                                <Icon Name="IconName.Comment" />
                                Write us your Feedback/Concerns
                            </FieldLabel>
                            <FieldBody>
                                <MemoEdit @bind-Text="@_formInput.Body">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </MemoEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                </Fields>
            </Column>
        </Row>
        <Row Width="Width.Is100">
            <Column ColumnSize="ColumnSize.IsFull">
                <Buttons Role="ButtonsRole.Toolbar"
                         Flex="Flex.Grow.Is1.Column.OnMobile">
                    <Button Type="ButtonType.Submit"
                            PreventDefaultOnSubmit
                            Color="Color.Primary"
                            Clicked="SubmitContactFormAsync"
                            Block>
                        Send <Icon Name="IconName.Mail" />
                    </Button>
                    <Button Type="ButtonType.Reset"
                            Color="Color.Secondary"
                            Clicked="ClearContactFormAsync"
                            Block>
                        Clear
                    </Button>
                </Buttons>
            </Column>
        </Row>
    </Validations>
</Container>