@page "/register"
@using Microsoft.AspNetCore.Identity
<Row Height="Height.Is100" Margin="Margin.Is4.OnY">
    <Column Height="Height.Is100"
            ColumnSize="ColumnSize.Is10.OnTablet.Is8.OnDesktop.Is6.OnWidescreen"
            Margin="Margin.IsAuto.OnX"
            Display="Display.Table">
        <Div Display="Display.TableCell"
             VerticalAlignment="VerticalAlignment.Middle">
            <Div Background="Background.Dark"
                 TextColor="TextColor.Light"
                 Border="Border.Is2.Secondary.OnAll.Rounded">
                <Text TextAlignment="TextAlignment.Center"
                      Margin="Margin.Is4.FromTop">
                    <Heading Size="HeadingSize.Is2"
                             TextAlignment="TextAlignment.Center">
                        Get Started
                    </Heading>
                    <Paragraph Class="lead" TextAlignment="TextAlignment.Center">
                        Start creating funny interactions and memories with your friends
                    </Paragraph>
                    <Small TextColor="TextColor.Muted"
                           TextAlignment="TextAlignment.Justified">Or see who is the most messed up</Small>
                </Text>
            </Div>
            <Card Shadow="Shadow.Default"
                  Background="Background.Dark"
                  TextColor="TextColor.Light"
                  Border="Border.Is2.Secondary.OnAll.Rounded"
                  Margin="Margin.Is2.OnTablet">
                <CardBody>
                    <Div Margin="Margin.Is4.OnTablet">
                        <Form>
                            <Validations @ref="_validationsReference"
                                         Model="@InputModel"
                                         Mode="ValidationMode.Manual"
                                         HandlerType="typeof(FluentValidationHandler)">
                                <Fields>
                                    <Validation>
                                        <Field ColumnSize="ColumnSize.Is12.OnDesktop">
                                            <FieldLabel>First Name</FieldLabel>
                                            <TextEdit @bind-Text="@InputModel.FirstName" Placeholder="Enter your first name">
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation>
                                        <Field ColumnSize="ColumnSize.Is12.OnDesktop">
                                            <FieldLabel>Last Name</FieldLabel>
                                            <TextEdit @bind-Text="@InputModel.LastName" Placeholder="Enter your last name">
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                </Fields>
                                <Divider />
                                <Validation>
                                    <Field>
                                        <FieldLabel>Username</FieldLabel>
                                        <TextEdit @bind-Text="@InputModel.Username" Placeholder="Enter your username">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                                <Validation>
                                    <Field>
                                        <FieldLabel>Email</FieldLabel>
                                        <TextEdit @bind-Text="@InputModel.Email"
                                                  Placeholder="Enter your email"
                                                  Role="TextRole.Email">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                                <Validation>
                                    <Field>
                                        <FieldLabel>Password</FieldLabel>
                                        <TextEdit @bind-Text="@InputModel.Password"
                                                  Placeholder="Enter password"
                                                  Role="TextRole.Password">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                                <Validation>
                                    <Field>
                                        <FieldLabel>Notifications</FieldLabel>
                                        <SelectList TItem="Core.Enumerations.NotificationType"
                                                    TValue="Core.Enumerations.NotificationType"
                                                    Data="@Core.Enumerations.NotificationType.ReadOnlyEnumerationList"
                                                    TextField="@((item)=>item.Name)"
                                                    ValueField="@((item)=>item)"
                                                    @bind-SelectedValue="_selectedNotificationValue"
                                                    DefaultItemText="Choose the level of notifications you'd like to receive" />
                                    </Field>
                                </Validation>
                                <Field TextAlignment="TextAlignment.Center">
                                    <Button Type="ButtonType.Submit"
                                            Color="Color.Primary"
                                            Border="Border.Is2.Light.OnAll.Rounded"
                                            Shadow="Shadow.Small"
                                            Block
                                            PreventDefaultOnSubmit
                                            Clicked="@OnRegisterClickedAsync">
                                        Register
                                    </Button>
                                </Field>
                            </Validations>
                        </Form>
                    </Div>
                </CardBody>
            </Card>
            @if (DoesHaveErrors)
            {
                <Row Margin="Margin.Is3.FromTop">
                    <Column ColumnSize="ColumnSize.Is12">
                        <Alert Color="Color.Danger"
                           Margin="Margin.Is3.FromTop"
                           Visible>
                            @if (!Errors?.Any() == true)
                            {
                                <AlertMessage>Invalid Username or Password.</AlertMessage>
                            }
                            else
                            {
                                <Repeater TItem="IdentityError" Items="Errors">
                                    <AlertMessage Display="Display.Block">* @context.Description</AlertMessage>
                                </Repeater>
                            }
                        </Alert>
                    </Column>
                </Row>
            }
            <Row Margin="Margin.Is3.FromTop"
                 Background="Background.Dark"
                 TextColor="TextColor.Light"
                 Border="Border.Is2.Secondary.OnAll.Rounded">
                <Column ColumnSize="ColumnSize.Is12">
                    <Paragraph TextColor="TextColor.Muted"
                               TextAlignment="TextAlignment.Center">
                        By clicking Register you agree to our
                        <Blazorise.Link To="terms-of-service">
                            Terms of Service
                        </Blazorise.Link>
                        &amp;
                        <Blazorise.Link To="privacy-policy">
                            Privacy Policy
                        </Blazorise.Link>
                    </Paragraph>
                    <Paragraph TextColor="TextColor.Muted" TextAlignment="TextAlignment.Center">
                        Already Have an Account?
                        <Blazorise.Link To="login">Login</Blazorise.Link>
                    </Paragraph>
                </Column>
            </Row>
        </Div>
    </Column>
</Row>