@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid align-content-center pt-3">
    <h1 class="display-2 text-light text-center pb-4">@ViewData["Title"]</h1>
    <div class="row align-content-center align-items-center">
        <div class="col-lg-6 col-md-4 bg-dark text-light px-4 pb-3 border border-3 border-secondary rounded-3 shadow-lg">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-warning fw-bold text-center mt-3">Create a new account.</h2>
                <hr class="border border-light border-1 opacity-50" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group has-validation">
                    <span class="input-group-text">
                        <i class="bi bi-envelope-fill text-dark"></i>
                    </span>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" type="email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@gmail.com" />
                        <label asp-for="Input.Email" class="text-dark"></label>
                        <span asp-validation-for="Input.Email" class="text-danger invalid-feedback"></span>
                    </div>
                </div>
                <div class="input-group has-validation">
                    <span class="input-group-text">
                        <i class="bi bi-lock-fill text-dark"></i>
                    </span>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                        <label asp-for="Input.Password" class="text-dark"></label>
                        <span asp-validation-for="Input.Password" class="text-danger invalid-feedback"></span>
                    </div>
                </div>
                <div class="input-group has-validation">
                    <span class="input-group-text">
                        <i class="bi bi-lock-fill text-dark"></i>
                    </span>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                        <label asp-for="Input.ConfirmPassword" class="text-dark"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger invalid-feedback"></span>
                    </div>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary my-2 py-1 shadow border border-2 border-light rounded-2">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section class="bg-dark text-light border border-secondary border-3 rounded-3 shadow-lg ">
                <h3 class="text-warning text-center fw-bolder mt-3">Use another service to register.</h3>
                <hr class="border border-light border-1 opacity-50 mx-4" />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-outline-primary rounded-2 shadow mx-2 px-4 bounce-in" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            <span class="visually-hidden">@provider.DisplayName</span>

                                            @switch (provider.DisplayName)
                                            {
                                                case var pn when String.Equals(pn, "twitch", StringComparison.OrdinalIgnoreCase):
                                                    <i class="bi bi-twitch text-light display-3"></i>
                                                    break;
                                                case var pn when String.Equals(pn, "twitter", StringComparison.OrdinalIgnoreCase):
                                                    <i class="bi bi-twitter text-light display-3"></i>
                                                    break;
                                                case var pn when String.Equals(pn, "discord", StringComparison.OrdinalIgnoreCase):
                                                    <i class="bi bi-discord text-light display-3"></i>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        </button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
